<div class="p-grid p-align-start vertical-container" style="margin-top: 0.5em !important;">

    <div *ngIf="_app.purchaseDetails && _app.purchaseDetails.length; else nothing" class="p-col-12">
            <p-table   #dtCart  [value]="_app.purchaseDetails" lazy="true" [responsive]="true"
                       [paginator]="false" [totalRecords]="_app.purchaseDetails.length"
                       dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <h1>Cart List</h1>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:15%">Pizza</th>
                        <th style="width:10%">Size</th>
                        <th style="width:10%">Price</th>
                        <th style="width:10%">Quantity</th>
                        <th style="width:10%">Amount</th>
                        <th style="width:35%">Ingredients</th>
                        <th style="width:10%">Options</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-registro="rowData"  let-columns="columns" let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            {{rowData.pizza}}
                        </td>
                        <td>
                            {{rowData.sizeDescription}}
                        </td>
                        <td>
                            {{rowData.purchasePrice}}
                        </td>
                        <td>
                            {{rowData.quantity}}
                        </td>
                        <td>
                            {{rowData.amount}}
                        </td>
                        <td>
                            {{rowData.ingredients}}
                        </td>


                        <td>
                            <p-button icon="pi pi-pencil" pTooltip="Edit"  class="ui-button-rounded ui-button-warning ui-button-danger btn-sm" tooltipPosition="top"></p-button>
                            <p-button icon="pi pi-trash" pTooltip="Remove"  class="ui-button-rounded ui-button-danger btn-sm" tooltipPosition="top"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <!--<tr>-->
                        <!--<td colspan="6">SubTotal</td>-->
                        <!--<td>{{this.totalAmount}} </td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td colspan="6">Cost to Delivery</td>-->
                        <!--<td>{{this.costToDelivery}}</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td colspan="6">Total</td>-->
                        <!--<td>{{this.totalAmount + this.costToDelivery}}</td>-->
                    <!--</tr>-->
                    <div class="p-grid">
                        <div class="p-col-2 text-right">
                            <h3>SubTotal: </h3>
                        </div>
                        <div class="p-col-2 text-left">
                            <h3>${{this.subTotalAmount}} USD</h3>
                        </div>
                        <div class="p-col-2 text-right">
                            <h3>Cost to Delivery: </h3>
                        </div>
                        <div class="p-col-2 text-left">
                            <h3>${{this.costToDelivery}} USD</h3>
                        </div>
                        <div class="p-col-2 text-right">
                            <h3>Total: </h3>
                        </div>
                        <div class="p-col-2 text-left">
                            <h3>${{this.totalAmount}} USD</h3>
                        </div>
                        <div class="p-col-12">
                            <button  (click)="purchase($event)" pButton type="button" label="Purchase" class="ui-button-rounded ui-button-success"></button>
                        </div>
                    </div>

                </ng-template>
            </p-table>
        </div>


    <ng-template #nothing>

            <div class="p-col-12 text-center">
                <h1>There are no items in your cart</h1>
            </div>



    </ng-template>

</div>
