<img class="wave" src="assets/images/login/wave.png">
<div class="container">
    <div class="img">
        <img src="assets/images/login/bg.svg">
    </div>
    <div class="login-content">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <img src="assets/images/login/avatar.svg">
            <h2 class="title">Register</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="pi pi-info"></i>
                </div>
                <div class="div">
                    <h5>First Name</h5>
                    <input type="text" formControlName="firstName"  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" (blur)="remCl($event.target)" (focus)="addCl($event.target)">
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                </div>

            </div>
            <div class="input-div one">
                <div class="i">
                    <i class="pi pi-info"></i>
                </div>
                <div class="div">
                    <h5>Last Name</h5>
                    <input type="text" formControlName="lastName"  [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" (blur)="remCl($event.target)" (focus)="addCl($event.target)">
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>

            </div>
            <div class="input-div one">
                <div class="i">
                    <i class="pi pi-user"></i>
                </div>
                <div class="div">
                    <h5>Email</h5>
                    <input type="email" formControlName="username"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" (blur)="remCl($event.target)" (focus)="addCl($event.target)">
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Email is required</div>
                    </div>
                </div>

            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="pi pi-lock"></i>
                </div>
                <div class="div">
                    <h5>Password</h5>
                    <input pPassword  type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  (blur)="remCl($event.target)" (focus)="addCl($event.target)">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
            </div>
            <button type="submit" [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
            </button>
            <a routerLink="/login" class="btn-link">Login</a>
        </form>
    </div>
</div>

