<div class="layout-topbar">

        <div class="ui-toolbar-group-left">

            <a href="#" class="menu-btn" (click)="app.onMenuButtonClick($event)">
                <i class="pi pi-bars"></i>
            </a>
            <span style="font-weight: bold;">
                YUMMI PIZZA
            </span>

         </div>

        <div class="ui-toolbar-group-right">
            <button (click)="goToCart($event)" type="button" class="btn btn-primary">
            Cart
            <span class="badge badge-light">{{app.purchaseDetails && app.purchaseDetails.length ? app.purchaseDetails.length :0}}</span>
            </button>
            |
            Welcome: <span >{{app.currentUser.name}}</span>
            |
            <p-button (click)="app.logout()" pTooltip="Logout" class="ui-button-danger" icon="pi pi-sign-out"></p-button>

        </div>

</div>
